<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949886207204-481p0op2hccvjkaol5c06r0t7lldncqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949886207204-481p0op2hccvjkaol5c06r0t7lldncqm</string>
	<key>API_KEY</key>
	<string>AIzaSyCDQCrL0gDO8kmuggntz6k7n1_H1JRNvCc</string>
	<key>GCM_SENDER_ID</key>
	<string>949886207204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maxxasisstantt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>groupchat-51c84</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-51c84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949886207204:ios:d6b2e1924f75c38b0658f1</string>
</dict>
</plist>